# Bot Configuration
BOT_TOKEN=your_bot_token_here
ADMIN_IDS=123456789
ADMIN_LOGIN=admin_login
ADMIN_PASSWORD=admin_password

# Channel Configuration
CHANNEL_UZ=@Star_payuz
CHANNEL_RU=@Star_payuz_otziv
CHANNEL_ID=-1003595453312
CHANNEL_URL=https://t.me/Star_payuz

# Database
DATABASE_FILE=star_payuz.db

# Card Details
CARD_NUMBER=9860 1801 0171 2578
CARD_OWNER=ISXAKOVA AZIZA
CARD_PHONE=+998 93 582 10 00
CARD_BOT=@CardKamron
